/* Basics CSS */

* {
  box-sizing: border-box;
  margin: 0;
}

h1 {
  font-family: "Lobster", sans-serif;
  font-size: 40px;
  margin: 0.5rem 1rem 0 0;
  color: white;
}

p {
  padding: 0 1rem 1rem 1rem;
  margin-top: 1rem;
  color: white;
  text-align: center;
  font-size: 14px;
  font-family: sans-serif;
  line-height: 1.5;
}

a {
  color: white;
  font-size: 14px;
  font-family: sans-serif;
  text-align: center;
  text-decoration: none;
  display: block;

}

body {
  background-image: linear-gradient(#615dad, #ffc8da);
  height: 100vh;
  margin: 0;
}

#body__index {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-repeat: no-repeat;
}

/* Section piskvorky */

.piskvorky {
  max-width: 350px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 5% auto 0 auto;
  border: 0 auto;
}

img {
  width: 100%;
  border-radius: 5px 5px 0 0;
  display: block;
}

.piskvorky__text {
  background-color: #283e50;
  color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 300px;
  margin: 0 auto;

}

/* Buttons piskvorky */

.piskvorky__buttons {
  background-color: #283e50;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;

}

button {
  border: none;
}

.piskvorky__pravidla {
  margin-bottom: 1px;
  padding: 10px 0;
  background-color: #1fcca4;

}

.piskvorky__hrat {
  padding: 10px 0;
  background-color: #0197f6;

}

.piskvorky__pravidla:hover {
  background-color: #1cbb96;
  cursor: pointer;
}

.piskvorky__hrat:hover {
  background-color: #0090e9;
  cursor: pointer;
}

/* ------------ Pokračování CSS k hra.html -------------- */

/* Basics CSS */

#body__hra {
  box-sizing: border-box;
  margin: 0;
}

#nadpis__piskvorky {
  text-align: center;
  margin: 0;
  font-size: 3.5rem;
}

h2 {
  font-family: sans-serif;
}

/* Container hra */

.hra__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  max-width: 100%;
}

.hra__content {
  width: 100%;
  max-width: 80vmin;
  padding: 20px;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
}

.hra__menu {
  box-sizing: border-box;
  padding-block: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hra__hraje {
  display: flex;
  align-items: center;
  margin-block: 10px;
}

.hra__kruh {
  width: 25px;
  height: 25px;
  margin: 5px;
}

/* Buttons hra */

.hra__tlacitka {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.hra__home {
  padding: 5px;
  border-radius: 10%;
  background-color: #1fcca4;
  margin-right: 0.5rem;
}

.hra__restart {
  padding: 5px;
  border-radius: 10%;
  background-color: #0197f6;
}

/* Hrací pole */


.hra__pole {
  display: flex;
  flex-direction: column;
  padding-block: 0;
}

.hra__pole div {
  display: flex;
}

.hra__pole button {
  background-color: rgba(255, 255, 255, 0.4);
  border: solid 1px #48484a;
  cursor: pointer;
  aspect-ratio: 1 / 1;
  width: 100%;
  max-height: 100%;
}

.hra__pole button:hover,
.hra__pole button:focus,
.hra__pole button:active {
  background-color: rgba(236, 236, 236, 0.6);

}

.hra__home:hover {
  background-color: #1cbb96;
  cursor: pointer;
}

.hra__restart:hover {
  background-color: #0090e9;
  cursor: pointer;
}


/*
-----Křížky a kolečka-----

.board__field--circle {
  background-image: url("circle_blk.svg");
  background-repeat: no-repeat;
  background-position: center;

}

.board__field--cross {
  background-image: url("cross_blk.svg");
  background-repeat: no-repeat;
  background-position: center;
} 

*/


/* Kdo hraje: */
.hra__kruh--circle {
  background-image: url('circle.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.hra__kruh--cross {
  background-image: url('cross.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}



/* Bonus - tlačítka s efekty */

.board__field--circle {
  position: relative;
}

.board__field--cross {
  position: relative;
}

.board__field--circle::after {
  content: "";
  background-image: url("circle_blk.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  animation: zvetseniKruhu 0.5s ease-out forwards;
  width: 60%;
  height: 60%;
}

.board__field--cross::after {
  content: "";
  background-image: url("cross_blk.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  animation: zvetseniKrize 0.5s ease-out forwards;
  width: 60%;
  height: 60%;
}

@keyframes zvetseniKruhu {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes zvetseniKrize {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

.element {
  animation: zvetseniKruhu 0.2s ease-in-out;
}

.krize {
  animation: zvetseniKrize 0.2s ease-in-out;
}
