/* Basics CSS */

* {
  box-sizing: border-box;
  margin: 0;
}

h1 {
  font-family: "Lobster", sans-serif;
  font-size: 40px;
  margin: 0.5rem 1rem 0 0;
  color: white;
}

p {
  padding: 0 1rem 1rem 1rem;
  margin-top: 1rem;
  color: white;
  text-align: center;
  font-size: 14px;
  font-family: sans-serif;
  line-height: 1.5;
}

a {
  color: white;
  font-size: 14px;
  font-family: sans-serif;
  text-align: center;
  text-decoration: none;
}

body {
  background-image: linear-gradient(#615dad, #ffc8da);
  height: 100vh;
  margin: 0;
  background-repeat: no-repeat;
}

/* Section piskvorky */

.piskvorky {
  width: 330px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 5% auto auto auto;
  border: 0;
}

img {
  width: 100%;
  border-radius: 5px 5px 0 0;
  display: block;
}

.piskvorky__text {
  background-color: #283e50;
  color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 300px;

}

/* Buttons piskvorky */

.piskvorky__buttons {
  background-color: #283e50;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;

}

button {
  border: none;
}

.piskvorky__pravidla {
  margin-bottom: 1px;
  padding: 10px 0;
  background-color: #1fcca4;

}

.piskvorky__hrat {
  padding: 10px 0;
  background-color: #0197f6;

}

.piskvorky__pravidla:hover {
  background-color: #1cbb96;
  cursor: pointer;
}

.piskvorky__hrat:hover {
  background-color: #0090e9;
  cursor: pointer;
}

/* ------------ Pokračování CSS k hra.html -------------- */

/* Basics CSS */

#body__hra {
  box-sizing: border-box;
  margin: 0;
}

#nadpis__piskvorky {
  text-align: center;
  margin: 0;
  font-size: 3.5rem;
}

h2 {
  font-family: sans-serif;
}

/* Container hra */

.hra__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  max-width: 100%;
}

.hra__content {
  width: 100%;
  max-width: 80vmin;
  padding: 20px;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
}

.hra__menu {
  box-sizing: border-box;
  padding-block: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hra__hraje {
  display: flex;
  align-items: center;
  margin-block: 10px;
}

.hra__kruh {
  width: 25px;
  height: 25px;
  border: solid 3px;
  border-radius: 50%;
  margin: 5px;
}
